<a href="https://colab.research.google.com/github/elenaset/wotech1/blob/main/6_Lesson_27_04_2024_For_Loops_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loops in Python

Iterating through lists and nested lists

Nested loops with nested lists

range() - iterative object

In [ ]:
numbers = "12345"
for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
for letter in "I LOVE PYTHON": #STRING ITERABLE OBJECT
  print(letter)

I

L
O
V
E

P
Y
T
H
O
N

In [ ]:
for word in "i love python".split():
    print(word)

i
love
python

In [ ]:
for x in "I LOVE PYTHON": #STRING ITERABLE OBJECT
  print(x, end = ' ') #\n NEW LINE CHARACTER

I   L O V E   P Y T H O N

In [ ]:
for x in "I LOVE PYTHON": #STRING ITERABLE OBJECT
  print(x, end = '\n') #\n NEW LINE CHARACTER

I

L
O
V
E

P
Y
T
H
O
N

FOR LOOP LIST

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
    print(f'I have been to {city}')

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [ ]:
#MMary example
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
    print(f'I have been to ' + city)

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [ ]:
counter = 0 #INITIALIZE THE COUNTER

for city in cities_i_have_been_to:
  counter = counter + 1
  print(f'{counter}. I have been to {city}')

1. I have been to Tallin
2. I have been to Riga
3. I have been to Tartu
4. I have been to Aluksne
5. I have been to Viru
6. I have been to Ventspils

In [ ]:
counter = 0 # we initialize the COUNTER (start at 0 if the counter is before the print statement. If it is after, start at 1)

cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Võru', 'Ventspils']
previous_city = None

for city in cities_i_have_been_to:
    counter = counter + 1
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
    previous_city =  city

1. I have been to Tallinn. The previous city I visited was None.
2. I have been to Riga. The previous city I visited was Tallinn.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Võru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Võru.

In [ ]:
# ADD PREVIOUS CITY IN THE FORLOOP
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0 #INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
  counter = counter + 1
  print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city

1. I have been to Tallin. The previous city I visited was None.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
# ADD PREVIOUS CITY IN THE FORLOOP
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0 #INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
  counter = counter + 1
  if previous_city == None:
    print(f'{counter}. I have been to {city}. ')
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
#Triin example
import random

cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

counter = 0
previous_city = None
adjectives = ["fun", "awful", "crazy", "scary", "lovely", "sunny"]

for city in cities_i_have_been_to:
  counter = counter + 1
  impression = random.choice(adjectives)
  if counter > 1:
    print(f"{counter}. I have been to {city} and it was {impression}. The previous city I visited was {previous_city}.")
  else:
    print(f"{counter}. I have been to {city} and it was {impression}.")
  previous_city = city

1. I have been to Tallinn and it was sunny.
2. I have been to Riga and it was awful. The previous city I visited was Tallinn.
3. I have been to Tartu and it was awful. The previous city I visited was Riga.
4. I have been to Aluksne and it was awful. The previous city I visited was Tartu.
5. I have been to Viru and it was crazy. The previous city I visited was Aluksne.
6. I have been to Ventspils and it was crazy. The previous city I visited was Viru.

For loops with indexes

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

len(cities_i_have_been_to)  # how many elements

6

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

range(len(cities_i_have_been_to))  # how many elements range

range(0, 6)

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

list(range(len(cities_i_have_been_to)))  # how many elements range

[0, 1, 2, 3, 4, 5]

In [ ]:
range(len(cities_i_have_been_to)) #elements [0,1,2,3,4,5]
for i in range(len(cities_i_have_been_to)):
  print(f'This is the index {i}')

This is the index 0
This is the index 1
This is the index 2
This is the index 3
This is the index 4
This is the index 5

In [ ]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(f'This is the index {i}')
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])

This is the index 0
Tallin
2020
This is the index 1
Riga
2024
This is the index 2
Tartu
2020
This is the index 3
Aluksne
2021
This is the index 4
Viru
2024
This is the index 5
Ventspils
2022

In [ ]:
#{} - for variable using in f string, [] - for index
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}')

I have been to Tallinn. I visited that city in 2020
I have been to Riga. I visited that city in 2024
I have been to Tartu. I visited that city in 2020
I have been to Aluksne. I visited that city in 2021
I have been to Viru. I visited that city in 2024
I have been to Ventspils. I visited that city in 2022

In [ ]:
#Elchin example The previous was an excellent example you are solving (btw Tallinn has 2 ns)
#You can also solve that one by using a simple generator "range"

cites_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

for i in range(len(cities_i_have_been_to)):
    current_city = cities_i_have_been_to[i]
    if i == 0:
        print(f'{i + 1}. I have been to {current_city}.')
    else:
        previous_city = cities_i_have_been_to[i - 1]
        print(f'{i + 1}. I have been to {current_city}. The previous city I visited was {previous_city}.')

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
# Elchin and more ADVANCED version using enumeration
#optional: you need not to know and go through it now, someday in the future
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

for i, city in enumerate(cities_i_have_been_to, start=1):
    if i == 1:
        print(f'{i}. I have been to {city}.')
    else:
        print(f'{i}. I have been to {city}. The previous city I visited was {cities_i_have_been_to[i-2]}.')

1. I have been to Tallinn.
2. I have been to Riga. The previous city I visited was Tallinn.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
#jurgak 10:58

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_i_visited = [2020, 2024, 2020, 2021, 2024, 2022]

range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(which_year_i_visited)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited this city in {which_year_i_visited[i]}.')

I have been to Tallin. I visited this city in 2020.
I have been to Riga. I visited this city in 2024.
I have been to Tartu. I visited this city in 2020.
I have been to Aluksne. I visited this city in 2021.
I have been to Viru. I visited this city in 2024.
I have been to Ventspils. I visited this city in 2022.

NESTED LISTS

In [ ]:
#NESTED LIST
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

In [ ]:

for i in matrix_2d:
  print(f'THIS IS THE SUB-LIST: {i}')
  for j in i:
    print(f'THESE ARE THE ELEMENTS OF THE SUB-LIST {j}')

THIS IS THE SUB-LIST: [1, 2, 3]
THESE ARE THE ELEMENTS OF THE SUB-LIST 1
THESE ARE THE ELEMENTS OF THE SUB-LIST 2
THESE ARE THE ELEMENTS OF THE SUB-LIST 3
THIS IS THE SUB-LIST: [4, 5, 6]
THESE ARE THE ELEMENTS OF THE SUB-LIST 4
THESE ARE THE ELEMENTS OF THE SUB-LIST 5
THESE ARE THE ELEMENTS OF THE SUB-LIST 6
THIS IS THE SUB-LIST: [7, 8, 9]
THESE ARE THE ELEMENTS OF THE SUB-LIST 7
THESE ARE THE ELEMENTS OF THE SUB-LIST 8
THESE ARE THE ELEMENTS OF THE SUB-LIST 9

Elchin explanation:
Imagine you have 2 cats and you name them i and j  
In coding you give the name to your variables, usually we name them i and j in this particular case, like usually you name cats with certain popular names.
MMari: 'i' is typically used because i stands for iteration
and then the next one is just the next one in the alphabet.
Elchin:excellent answer! I will just reveal thai i also stands for index and j is just the next letter in the alphabet (edited)

In [ ]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]
grade_mapping[0] #[90, 'A']
grade_mapping[0][1] #A
grade_mapping[3][1] #D

'D'

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]

In [ ]:
#Triin
for i in range(len(student_names)):
  for threshold, letter_grade in grade_mapping:
    if student_scores[i] >= threshold:
      print(f"Hi {student_names[i]}. Your score is {student_scores[i]}. Your grade is {letter_grade}.")
      break

Hi Alice. Your score is 85. Your grade is B.
Hi Bob. Your score is 72. Your grade is C.
Hi Charlie. Your score is 93. Your grade is A.
Hi David. Your score is 60. Your grade is D.
Hi Eva. Your score is 77. Your grade is C.

In [ ]:
#Roberta
for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i] # THIS IS THE SCORE OF EACH STUDENT SEPARATELY

  for number_grade, letter_grade in grade_mapping:

    if score >= number_grade:
      print(f'Hi, {student_names[i]}, your letter grade is {letter_grade}')
      break

85
Alice
Hi, Alice, your letter grade is B
72
Bob
Hi, Bob, your letter grade is C
93
Charlie
Hi, Charlie, your letter grade is A
60
David
Hi, David, your letter grade is D
77
Eva
Hi, Eva, your letter grade is C

In [ ]:
#MMari
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start=1):
    print(f"Index number {index} holds the name: {student}")

Index number 1 holds the name: Alice
Index number 2 holds the name: Bob
Index number 3 holds the name: Charlie
Index number 4 holds the name: David
Index number 5 holds the name: Eva

In [ ]:
#Roberta
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva

In [ ]:
#TEST
numbers = [1, 2, 3, 4, 1, 2, 1, 1]
target_number = 3
count = numbers.count(target_number)
print(count)

1

In [ ]:
#TEST
except = [1,2,3]

print(except)

SyntaxError: invalid syntax (<ipython-input-40-2e6d9c3d13f2>, line 2)

Team work: Review what different methods are built in for STRING objects.

Write a program with for loop and list where user needs to input a STRING value, and program needs to check if the value is in the list. Use string methods to standardize the user input.